@{
    ViewData["Title"] = "Home Page";
}
@model TwitterMVC.ViewModels.HomePageModel

@if (Model.EditedTwittId == null)
{
    @using (Html.BeginForm("AddNewTwitt", "HomePage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "add-new-twitt-form" }))
    {
        <h3>Create new twitt</h3>
        <div class="input-block">
            @Html.LabelFor(m => m.Text, "Text")
            @Html.TextAreaFor(m => m.Text)
        </div>

        <div class="input-block">
            @Html.LabelFor(m => m.ImgUrl, "Image")
            <input type="file" name="file" id="file" />
        </div>

        <input type="submit" value="submit" />
    }
}

    <div class="twitts-container">
        @foreach (var item in Model.Twitts)
        {
            <div class="twitt">
                @if (Model.EditedTwittId == item.RowKey)
                {

                    @using (Html.BeginForm("SaveTwitt", "HomePage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="input-block">
                            @Html.LabelFor(m => m.Text, "Text")
                            @Html.TextAreaFor(m => m.Text)
                        </div>

                        <div class="input-block">
                            @Html.LabelFor(m => m.ImgUrl, "Image")
                            @Html.HiddenFor(m => m.ImgUrl)
                            <input type="file" name="file" id="file" />
                        </div>

                        @Html.HiddenFor(model => model.EditedTwittId)

                        <input type="submit" value="submit" />
                        <a asp-action="CancelEditting" asp-controller="HomePage" asp-route-id="@item.RowKey">Cancel</a>
                    }
                }
                else
                {
                    <div class="twitt-actions">
                        <a asp-action="EditTwitt" asp-controller="HomePage" asp-route-id="@item.RowKey" asp->Edit</a>
                        <a asp-action="RemoveTwitt" asp-controller="HomePage" asp-route-id="@item.RowKey">Remove</a>
                    </div>
                    <p>@item.Text</p>

                    <img src="@item.ImageUrl">
                }

            </div>
        }
    </div>


